* {
    padding: 0;
    margin: 0;
}

.wrap {
    margin: 50px auto 0;
    max-width: 1200px;
    text-align: center;
}

form#authorization_form {
    margin: 0 auto;
    max-width: 600px;
    background: #ffee58;
}

form#authorization_form input {
    width: 90%;
    padding: 15px;
    margin: 10px;
    display: inline-block;
}

form#authorization_form input[type="submit"] {
    width: 95%;
    background: #FFCC80;
    border: none;
    padding: 15px;
    font-size: 20px;
}

.error, .success {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: red;
    height: 40px;
    color: white;
    font-size: 25px;
    line-height: 35px;
    padding: 5px;
}

.success {
    background: lightgreen;
}

.admin_wrap {
    display: flex;
    background-color: #f1f1f1;
}
.admin_wrap .right_side h1 {
    margin: 20px 0;
}
.left_side {
    width: 200px;
}
.left_side .admin_menu {
    height: 100%;
    background-color: black;
}

.right_side {
    width: 100%;
    text-align: center;
}
li.admin_menu_item {
    position: relative;
    height: 40px;
}
li.admin_menu_item:hover {
    background-color: grey;
}
li.admin_menu_item a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    line-height: 40px;
    height: 100%;
    padding: 0 0 0 10px;
}

ul.list {
    width: 100%;
    list-style-type: none;
}
li.list-item {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #fff;
}
li.list-item span {
    width: 150px;
    height: 44px;
    padding: 5px;
    border: 1px solid black;
    position: relative;
}
li.list-item a {
    width: 100%;
    left: 0;
    top: 0;
    padding: 18px 0;
    text-decoration: none;
    color: inherit;
    position: absolute;
}
li.list-item img {
    width: 100%;
    height: 100%;
}
label {
    cursor: pointer;
}
form.form, .good, .categorie, .user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
form.form input,
form.form label,
form.form textarea {
    width: 150px;
    height: 44px;
    padding: 5px;
    border: 1px solid black;
}
form.form input#image_link,
form.form input[type="submit"] {
    display: none;
}